{% load static %}
<!DOCTYPE html>
<html style="background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(198,223,204,0.8155637254901961) 0%, rgba(0,212,255,1) 100%);">
<head>
    <style>
        h6 {
        font-family: "Lucida Console", "Courier New", monospace;
        color: blue;
        background-color:off white;
        }
    </style>
	<title>RUETiansBuy Home!</title>
</head>
<body>
    <div style= "text-align:center; background-color:lightblue; font-family:papyrus; color:grey;">
    <h1>Welcome to RUETiansBuy</h1>
    <h3 style="font-family:Lucida Handwriting; color:DarkSlateGrey;">A free platform for you to selling and buying your items</h3>
    </div>

    {% for ad in ads %}
    <div style="background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(198,201,223,0.8155637254901961) 0%, rgba(0,212,255,1) 100%); margin:5px; border: 8px solid deepskyblue; border-radius:25px; padding: 5px;">
    <h1 style="font-family: Courier New;">{{ ad.title }}</h1>
    <h6>Category: {{ad.category}} by {{ad.seller}}<br> On {{ad.date_posted}}</h6>
    <h5 style="color:red;">Price: {{ad.price}}৳<br> Contact no: +880{{ad.contact_no}}</h5>
    </div>
    {% endfor %}

</body>
</html>